version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  ws-server:
    build:
      context: ./src/server
      dockerfile: Dockerfile
    container_name: ws-server
    ports:
      - "4000:4000"
    env_file:
      - ./src/server/.env
    depends_on:
      - redis
